{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

    input[type=submit] {
        width: 100%;
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #45a049;
    }

    .custom-language-field {
        /* Add your custom styles here */
        /* For example: */
        font-size: 16px;
        color: #333;
        border: 1px solid #ccc;
        padding: 5px 10px;
        border-radius: 5px;
    }

</style>
<div style="
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
    width: 30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
">
    <h1>{{ 'Register' | trans }}</h1>

    {{ form_errors(registrationForm) }}

    {{ form_start(registrationForm) }}
    {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
